<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/ticker' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class = "container" >
   <%= yield %>

  </body>
</html>
